<!DOCTYPE html>
<html>
  <head>
    <title>Jobs, Jobs and More Jobs</title>
  </head>
  <body>
    <h1>Do you not know what job you want?</h1>
    <h2>Well if that sounds like you, you should seriously get your things together.</h2>
    <h3>But if you don't like being serious, this website is for you!</h3>
    <br>
    <p><b>Here are a list of jobs you can do!</b></p>
    <table>
      <tr>
	<td><b>Job Class </b></td>
	<t> <td><b><pre>Percentages</pre></b> </td>
      </tr>
      {% for item in tab %}
      <tr>
	<td> {{item}} </td>
	<td><pre>{{tab[item]}}%</pre></td>
      </tr>
      {% endfor %}
    </table>
    <p> You should have a job in the {{ran}} industry!!! Or not. Don't let a website tell you what to do with your life. </p>
  </body>
</html>
